<% layout("layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Edit your chats : <%= chat._id%></h3> <br>
    <p>This chat was sent form <b><%=chat.from%> to <b><%=chat.to%></b></p>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT" novalidate class="needs-validation">
        <div>
            <label for="msg" class="form-label">Message:</label>
            <textarea name="msg" rows="5" cols="50" id="msg" class="form-control" required><%=chat.msg%></textarea> &nbsp;
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        <button class="btn btn-dark">Edit</button>
    </form>
</div>
</div>